@media (max-width: 1200px) {
  .header-content {
    height: 60px !important;
    justify-content: space-between !important;
    padding: 0 15px;
  }
  .logo svg {
    max-width: 110px;
  }
  .languages {
    font-size: 14px;
  }
  .hamburger {
    width: 2rem;
    height: 1.5rem;
    /* position: fixed; */
    top: 15px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 5000;
    cursor: pointer;
  }
  .hamburger div {
    width: 22px;
    background: #ffffff;
    height: 2px;
    border-radius: 10px;
    transition: all 0.3s linear;
  }
  .nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.4s linear;
  }
  .nav-bar.open {
    width: 85%;
    height: 100vh;
    background: rgba(255, 255, 255);
    transform: translateX(0);
    opacity: 1;
    transition: all 0.4s linear;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
  }
  .menu-content {
    width: 100%;
    flex-direction: column;
  }
  .nav-bar .nav-link {
    transition: all 0.4s linear;
    display: none;
  }
  .nav-bar.open .nav-link {
    transition: all 0.4s linear;
    display: flex !important;
    justify-content: flex-start;
    padding: 0.5rem 1rem 0.5rem 0;
  }
  .nav-bar.open .nav-link a {
    color: #000000 !important;
    font-size: 24px;
  }
  .nav-bar button {
    transition: all 0.4s linear;
    display: none;
  }
  .nav-bar.open button {
    transition: all 0.4s linear;
    display: block !important;
  }
  .nav-bar .nav-close {
    transition: all 0.4s linear;
    display: none;
  }
  .nav-bar.open .nav-close {
    transition: all 0.4s linear;
    display: block !important;
  }
  .btn-light {
    width: 260px;
    height: 60px;
    margin: 40px 0 10px 0;
    background: #0084ff !important;
    color: #ffffff !important;
  }
}
.header-content {
  position: relative;
  width: 100%;
  height: 90px;
  background: #003edf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-close {
  display: none;
}
.menu-content {
  display: flex;
  justify-content: space-around;
}
.nav-bar .nav-link a {
  text-decoration: none;
  transition: all .3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.nav-bar .nav-link a:hover {
  border-bottom: 2px solid #A3E7FF;
  transition: all .4s ease-in-out;
  color: #A3E7FF !important;
}
.btn-inter {
  display: flex;
}
.btn-light:hover {
  background: #02245b;
  color: #ffffff;
  border-color: #02245b;
}
.languages {
  display: flex;
  align-items: center;
  border: none;
  color: #ffffff;
  margin-left: 20px;
}
.languages button {
  display: flex;
  align-items: center;
  background: transparent;
  color: #ffffff;
  border: none;
}
.activo {
  color: #ffed4a !important;
}
.socials-header {
  position: absolute;
  top: 150%;
  right: 3%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socials-header a svg {
  width: 80px;
}
.btn-contact:hover{
  background: #0084FF !important;
  color: #fff !important;
  border-color: #0084FF !important;
}
